
body{
  background-size: cover;
}

.auth-page {
  min-height: calc(10vh - 80px); 
  display: grid;
  place-items: center;            
  padding: 32px 16px;             
}

.auth-card {
  width: 460px;                  
  max-width: 100%;
  margin: 0;

  background: rgba(30, 143, 255, 0.76) !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  border-radius: 16px !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  padding: 24px !important;
}

.auth-card .ant-card-head {
  background: transparent !important;
  border: none !important;
}
.auth-card .ant-card-head-title {
  color: white !important;
}

.ant-form-item-label label {
  color: rgb(0, 0, 0) !important;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.form_help_text {
  color: #fff;
}

.form_help_text a {
  color: #e6f4ff;
    text-decoration: underline;

}
